# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IDE
.idea/
.vscode/

# Dependencies
node_modules/

# Environment variables (IMPORTANT!)
.env
.env.local
.env*.local

# Mac
.DS_Store

# Vercel
.vercel
